@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap');


#about_me {
    body {
        background-color: rgb(0, 0, 0);

        h1 {
            font-family: 'Permanent Marker', cursive;
            color: white;
            font-size: 6.5em;
            margin-left: 20%;
        }
        h3 {
            color: rgb(255, 203, 203);
            font-size: 30px;
            font-family: 'Comfortaa', cursive;
            font-weight: 700;
        }
        p {
            // width: 80%;
            // margin-left: 5%;
            color: rgb(255, 203, 203);
            font-family: 'Comfortaa', cursive;
        }
        .flex_box1 { 
            article {
                width: 50%;
                margin: 5%;
            }
            .image_container {
                width: 50%;
                text-align: center; 
                img {
                        width: 70%;
                        height: auto;
                        border: 15px white solid;
                        border-bottom: 70px white solid;
                        }
            }

        }
        
        // ol {
        //     width: 50%;
        //     margin-left: 5%;
        //     color: rgb(255, 203, 203);
        //     font-family: 'Comfortaa', cursive;
        // }

    .flex_box1 {
        display: flex;    
        justify-content: space-between;
    }        
    .likes_icons {
            // position: relative;
            // margin-left: 60%;
            margin-top: -10%;
            }
    .circle_icons {
            width: 128px;
            margin: 0.5%;
        }
    }
    .mail_resume {
        width: 49%;
        margin-top: 1%;
        margin-left: 5%;
    }
}



