@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

#about_me {
    body {
        background-color: rgb(0, 0, 0);

        h1 {
            position: absolute;
            font-family: 'Permanent Marker', cursive;
            color: white;
            font-size: 100px;
            margin-left: 20%;
            margin-top: -20%;
            margin-bottom: 10%;
        }
        p {
            color: white;
            width: 50%;
            margin-left: 5%;
        }
        .selfportrait {
            position: absolute;
            margin-left: 60%;
            margin-top: -15%;
            width: 30%;
            border: 15px white solid;
            border-bottom: 70px white solid;
        }
        .arrow {
            position: absolute;
            margin-top: 45%;
            margin-left: -30%;
            width: 10%;
            transform: rotate(310deg);
        }
            
        .likes_icons {
                margin-left: 10%;
            }
        .circle_icons {
            width: 128px;
            margin: 0.5%;
        }
        .social_resize {
            width: 90px;
        }
        .first_para {
            margin-top: 20%;
        }

    }
}



