@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

#blog {

    body { 
        background-color: rgb(0, 0, 0);

        h1 {
            position: absolute;
            font-family: 'Permanent Marker', cursive;
            color: rgb(255, 255, 255);
            font-size: 100px;
            margin-left: 40%;
            margin-top: -20%;
        }

        section { 
            margin-top: 25%;

            article {
                margin-top: 10%;
                margin-bottom: 20%;
    
                    h3 {
                        color: rgb(255, 255, 255);
                        margin-left: 45%;
                    }
            
                    p {
                        color: rgb(255, 255, 255);
                        margin-left: 45%;
                        width: 40%;
                    }
            
                    div {
                        position: absolute;
                        margin-left: 5%;
                        margin-top: -20%;
                        left: 0;
                        display: inline-block;
                        width: 400px;
                        height: 300px;
                }
                #blog1 {
                    background: url(/images/blog1.jpg) no-repeat center;
                    background-size: cover;
                    }
                #blog2 {
                    background: url(/images/blog2.jpg) no-repeat center;
                    background-size: cover;
                }
                #blog3 {
                    background: url(/images/blog3.jpg) no-repeat center;
                    background-size: cover;
                }
                #blog4 {
                    background: url(/images/blbog4.gif) no-repeat center;
                    background-size: cover;
                }
                #blog5 {
                    background: url(/images/blog5.jpg) no-repeat center;
                    background-size: cover;

                }
            }
            
        }

        

    }
    
}