@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

#contact {
    body {
        background-color: black;
        h3 {
            font-size: 100px;
            font-family: 'Permanent Marker', cursive;
            color: rgb(255, 255, 255);
            position: absolute;

                .tumblr {
                    margin-left: 60%;

                    
                }
                // .instagran {
                //     margin-left: 50%;

                // }
                // .twitter {
                //     margin-left: 50%;

                // }
                // .github {
                //     margin-left: 50%;

                // }
                // .twitch {
                //     margin-left: 50%;

                // }
        
        }
        h1 {
            color: rgb(255, 255, 255);
            
        }
    }
 }

