#content_page { 
    @import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
    @mixin hover-text-replace ($margin-left, $margin-top, $title, $paragraph)
    {
        position: absolute;
        margin-left: $margin-left;
        margin-top: $margin-top;
        transform: scale(1);
        transition-duration: 1s;
        transition-timing-function: ease;
        transition-delay: 0s;
            &:hover {
                transform: scale(1.25);
                    }   
            &:hover ~ div h3 {
                    font-size: 0px;
                    }
            &:hover ~ div p {
                    font-size: 0px;
                    }
            &:hover ~ div h3:after {
                    content: $title;
                    font-size: 30px;
                    }
            &:hover ~ div p:after {
                    content: $paragraph;
                    font-size: 20px;
                    }
    }
    .microphone {
        @include hover-text-replace (45%, 10%, "Podcast", "My podcast about games");
    }
    .coding {
        @include hover-text-replace (65%, 25%, "Programming", "My work as a developer");
    }
    .camera {
        @include hover-text-replace (60%, 45%, "Modelling", "My work as a collaborator and contributor");        
    }

    .headset {
        @include hover-text-replace (25%, 25%, "Twitch Community", "My work as a streamer");
    }
    .art {
        @include hover-text-replace (30%, 45%, "Art and inspiration", "My art and what inspires me");
    }
 
    div {
        position: absolute;
        margin-left: 40%;
        margin-top: 30%;
        transform: scale(1);
        transition-duration: 1s;
        transition-timing-function: ease;
        transition-delay: 0s;
            &:hover {
                transform: scale(1.25);
            }
            h3 {
                font-size: 30px;
                font-family: 'Lobster';
                // cassie fix this. lobster DON'T WORK!!!
            }
    }


}