@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
#homepage body {
  background-color: black;
}
#homepage body footer {
  color: white;
}
#homepage body p {
  position: absolute;
  color: white;
  font-family: sans-serif;
  width: 50%;
  margin-left: 15%;
  margin-top: -10%;
}
#homepage body h1 {
  position: absolute;
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 100px;
  margin-left: 30%;
  margin-top: 55px;
  margin-bottom: 10%;
}

nav {
  color: white;
  position: relative;
  margin-top: 50px;
}

.imageresize {
  size: cover;
  width: 20%;
  height: auto;
}

.bottom_portrait {
  height: auto;
  width: 25%;
  margin-right: 50px;
  margin-top: 70px;
  border-radius: 20px 90px 90px 90px;
}

.center {
  text-align: center;
}

.logo {
  text-align: center;
  margin: 30px;
}

#section1 {
  position: relative;
  margin-left: 50px;
  padding: 50px;
  border-left: 10px solid white;
  border-top: 10px solid white;
}
#section1 div {
  width: 75%;
  height: 10px;
  background-color: black;
  position: absolute;
  top: -10px;
  right: 0;
}

#section2 {
  text-align: right;
}

#content_page .microphone {
  position: absolute;
  margin-left: 45%;
  margin-top: 10%;
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#content_page .microphone:hover {
  transform: scale(1.25);
}
#content_page .microphone:hover ~ div h3 {
  font-size: 0px;
}
#content_page .microphone:hover ~ div p {
  font-size: 0px;
}
#content_page .microphone:hover ~ div h3:after {
  content: "Podcast";
  font-size: 30px;
}
#content_page .microphone:hover ~ div p:after {
  content: "My podcast about games";
  font-size: 20px;
}
#content_page .coding {
  position: absolute;
  margin-left: 65%;
  margin-top: 25%;
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#content_page .coding:hover {
  transform: scale(1.25);
}
#content_page .coding:hover ~ div h3 {
  font-size: 0px;
}
#content_page .coding:hover ~ div p {
  font-size: 0px;
}
#content_page .coding:hover ~ div h3:after {
  content: "Programming";
  font-size: 30px;
}
#content_page .coding:hover ~ div p:after {
  content: "My work as a developer";
  font-size: 20px;
}
#content_page .camera {
  position: absolute;
  margin-left: 60%;
  margin-top: 45%;
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#content_page .camera:hover {
  transform: scale(1.25);
}
#content_page .camera:hover ~ div h3 {
  font-size: 0px;
}
#content_page .camera:hover ~ div p {
  font-size: 0px;
}
#content_page .camera:hover ~ div h3:after {
  content: "Modelling";
  font-size: 30px;
}
#content_page .camera:hover ~ div p:after {
  content: "My work as a collaborator and contributor";
  font-size: 20px;
}
#content_page .headset {
  position: absolute;
  margin-left: 25%;
  margin-top: 25%;
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#content_page .headset:hover {
  transform: scale(1.25);
}
#content_page .headset:hover ~ div h3 {
  font-size: 0px;
}
#content_page .headset:hover ~ div p {
  font-size: 0px;
}
#content_page .headset:hover ~ div h3:after {
  content: "Twitch Community";
  font-size: 30px;
}
#content_page .headset:hover ~ div p:after {
  content: "My work as a streamer";
  font-size: 20px;
}
#content_page .art {
  position: absolute;
  margin-left: 30%;
  margin-top: 45%;
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#content_page .art:hover {
  transform: scale(1.25);
}
#content_page .art:hover ~ div h3 {
  font-size: 0px;
}
#content_page .art:hover ~ div p {
  font-size: 0px;
}
#content_page .art:hover ~ div h3:after {
  content: "Art and inspiration";
  font-size: 30px;
}
#content_page .art:hover ~ div p:after {
  content: "My art and what inspires me";
  font-size: 20px;
}
#content_page div {
  position: absolute;
  margin-left: 40%;
  margin-top: 30%;
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#content_page div:hover {
  transform: scale(1.25);
}
#content_page div h3 {
  font-size: 30px;
}

/*# sourceMappingURL=main.css.map */
