@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
#homepage body {
  background-color: black;
}
#homepage body div .dropdown {
  right: 0;
}
#homepage body .dropbtn {
  right: 0;
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
#homepage body .dropdown {
  position: relative;
  display: inline-block;
}
#homepage body .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  opacity: 0.8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#homepage body .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#homepage body .dropdown-content a:hover {
  background-color: orange;
}
#homepage body .dropdown:hover .dropdown-content {
  display: block;
}
#homepage body .dropdown:hover .dropbtn {
  background-color: #ffffff;
}
#homepage body footer {
  color: white;
}
#homepage body p {
  position: absolute;
  color: white;
  font-family: sans-serif;
  width: 50%;
  margin-left: 15%;
  margin-top: -10%;
}
#homepage body h1 {
  position: absolute;
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 100px;
  margin-left: 30%;
  margin-top: 55px;
  margin-bottom: 10%;
}

nav {
  color: white;
  position: relative;
  margin-top: 50px;
}

.imageresize {
  size: cover;
  width: 20%;
  height: auto;
}

.bottom_portrait {
  height: auto;
  width: 25%;
  margin-right: 50px;
  margin-top: 70px;
  border-radius: 20px 90px 90px 90px;
}

.center {
  text-align: center;
}

.logo {
  text-align: center;
  margin: 30px;
}

#section1 {
  position: relative;
  margin-left: 50px;
  padding: 50px;
  border-left: 10px solid white;
  border-top: 10px solid white;
}
#section1 div {
  width: 75%;
  height: 10px;
  background-color: black;
  position: absolute;
  top: -10px;
  right: 0;
}

#section2 {
  text-align: right;
}

#content_page {
  @import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
}
#content_page .microphone {
  position: absolute;
  margin-left: 45%;
  margin-top: 10%;
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#content_page .microphone:hover {
  transform: scale(1.25);
}
#content_page .microphone:hover ~ div h3 {
  font-size: 0px;
}
#content_page .microphone:hover ~ div p {
  font-size: 0px;
}
#content_page .microphone:hover ~ div h3:after {
  content: "Podcast";
  font-size: 30px;
}
#content_page .microphone:hover ~ div p:after {
  content: "My podcast about games";
  font-size: 20px;
}
#content_page .coding {
  position: absolute;
  margin-left: 65%;
  margin-top: 25%;
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#content_page .coding:hover {
  transform: scale(1.25);
}
#content_page .coding:hover ~ div h3 {
  font-size: 0px;
}
#content_page .coding:hover ~ div p {
  font-size: 0px;
}
#content_page .coding:hover ~ div h3:after {
  content: "Programming";
  font-size: 30px;
}
#content_page .coding:hover ~ div p:after {
  content: "My work as a developer";
  font-size: 20px;
}
#content_page .camera {
  position: absolute;
  margin-left: 60%;
  margin-top: 45%;
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#content_page .camera:hover {
  transform: scale(1.25);
}
#content_page .camera:hover ~ div h3 {
  font-size: 0px;
}
#content_page .camera:hover ~ div p {
  font-size: 0px;
}
#content_page .camera:hover ~ div h3:after {
  content: "Modelling";
  font-size: 30px;
}
#content_page .camera:hover ~ div p:after {
  content: "My work as a collaborator and contributor";
  font-size: 20px;
}
#content_page .headset {
  position: absolute;
  margin-left: 25%;
  margin-top: 25%;
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#content_page .headset:hover {
  transform: scale(1.25);
}
#content_page .headset:hover ~ div h3 {
  font-size: 0px;
}
#content_page .headset:hover ~ div p {
  font-size: 0px;
}
#content_page .headset:hover ~ div h3:after {
  content: "Twitch Community";
  font-size: 30px;
}
#content_page .headset:hover ~ div p:after {
  content: "My work as a streamer";
  font-size: 20px;
}
#content_page .art {
  position: absolute;
  margin-left: 30%;
  margin-top: 45%;
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#content_page .art:hover {
  transform: scale(1.25);
}
#content_page .art:hover ~ div h3 {
  font-size: 0px;
}
#content_page .art:hover ~ div p {
  font-size: 0px;
}
#content_page .art:hover ~ div h3:after {
  content: "Art and inspiration";
  font-size: 30px;
}
#content_page .art:hover ~ div p:after {
  content: "My art and what inspires me";
  font-size: 20px;
}
#content_page div {
  position: absolute;
  margin-left: 40%;
  margin-top: 30%;
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#content_page div:hover {
  transform: scale(1.25);
}
#content_page div h3 {
  font-size: 30px;
  font-family: "Lobster";
}

#contact body {
  background-color: black;
}
#contact body .tumblr {
  font-size: 100px;
  font-family: "Permanent Marker", cursive;
  color: white;
  position: absolute;
  margin-left: 65%;
  margin-top: 15%;
}
#contact body .instagram {
  font-size: 100px;
  font-family: "Permanent Marker", cursive;
  color: white;
  position: absolute;
  margin-left: 50%;
  margin-top: 20%;
}
#contact body .twitter {
  font-size: 100px;
  font-family: "Permanent Marker", cursive;
  color: white;
  position: absolute;
  margin-left: 60%;
  margin-top: 0%;
}
#contact body .github {
  font-size: 100px;
  font-family: "Permanent Marker", cursive;
  color: white;
  position: absolute;
  margin-left: 60%;
  margin-top: 0%;
}
#contact body .twitch {
  font-size: 100px;
  font-family: "Permanent Marker", cursive;
  color: white;
  position: absolute;
  margin-left: 60%;
  margin-top: 10%;
}
#contact body h1 {
  color: white;
}
#contact body div {
  color: white;
}
#contact body .resize {
  width: 50%;
  margin: 5% 1%;
}

#blog body {
  background-color: black;
}
#blog body h1 {
  position: absolute;
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 100px;
  margin-left: 40%;
  margin-top: -20%;
}
#blog body section {
  margin-top: 25%;
}
#blog body section article {
  margin-top: 10%;
  margin-bottom: 20%;
}
#blog body section article h3 {
  color: white;
  margin-left: 45%;
}
#blog body section article p {
  color: white;
  margin-left: 45%;
  width: 40%;
}
#blog body section article div {
  position: absolute;
  margin-left: 5%;
  margin-top: -20%;
  left: 0;
  display: inline-block;
  width: 400px;
  height: 300px;
}
#blog body section article #blog1 {
  background: url(/images/blog1.jpg) no-repeat center;
  background-size: cover;
}
#blog body section article #blog2 {
  background: url(/images/blog2.jpg) no-repeat center;
  background-size: cover;
}
#blog body section article #blog3 {
  background: url(/images/blog3.jpg) no-repeat center;
  background-size: cover;
}
#blog body section article #blog4 {
  background: url(/images/blbog4.gif) no-repeat center;
  background-size: cover;
}
#blog body section article #blog5 {
  background: url(/images/blog5.jpg) no-repeat center;
  background-size: cover;
}

/*# sourceMappingURL=main.css.map */
